.header {
    height: 80px;
    background-color: rgb(77, 145, 239);

}

.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

