.projectsBlock {
    min-height: 100vh;
    background-color: rgb(31, 86, 108);

}

.projectsContainer {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

.title {
    background-color: darkslategray;

}



.projects {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}